@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,700');

@import '_colors';

#app {
	color: $color-midnight;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
	}

	.bold { font-weight: 700; }
}
